<div *mobxAutorun class="list synthetic-focus">
  <div *ngFor="let item of list" class="item" [class.active]="item.id === currentGist?.id" (click)="onGistClick(item)">
    {{ item.name }}
  </div>
</div>
<div *mobxAutorun class="list synthetic-focus">
  <ng-container *ngIf="currentGist !== null">
    <div *ngFor="let file of currentGist.files" class="item" [class.active]="file === currentFile">
      {{ file.filename }}
    </div>
  </ng-container>
</div>
<div *mobxAutorun class="actions">
  <app-button>Create Empty</app-button>
  <app-button (click)="open()">Open Selected File</app-button>
  <app-button>Create New One From Selected File</app-button>
  <app-button (click)="join()">Join</app-button>
  <div *mobxAutorun class="target">
    <div class="title">
      <label>Alias:</label>
      <app-input [(value)]="alias"></app-input>
    </div>
    <div class="title">
      <label>Target Gist:</label>
      <app-checkbox class="checkbox" [(value)]="targetCurrentGist">Current Gist</app-checkbox>
    </div>
    <app-select
      *ngIf="!targetCurrentGist"
      class="select"
      [options]="targetGistList"
      [(value)]="targetGistId"
    ></app-select>
  </div>
</div>
