:host {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 800px;
  height: 50vh;
  min-height: 200px;
  padding: 20px;
}

.list {
  overflow-x: hidden;
  overflow-y: auto;
  flex: 0 0 200px;
  height: 100%;
  background-color: rgb(27, 26, 25);
  color: rgb(243, 242, 241);
}

.item {
  height: 42px;
  display: flex;
  align-items: center;
  padding: 0 10px;

  &.active,
  &:hover {
    cursor: pointer;
    background: rgb(37, 36, 35);
    color: rgb(243, 242, 241);
  }
}

.actions {
  flex: 1 1;
  margin-left: 10px;
  background-color: #1b1a19;
  padding: 10px;
}

.target {
  margin-left: 5px;

  .title {
    display: flex;
    align-items: center;
  }

  label {
    flex: 1 1 100%;
  }

  .checkbox {
    flex: 0 0 max-content;
  }

  .select {
    margin-top: 10px;
    display: block;
  }
}
