<fluent-listbox *mobxAutorun class="list">
  <fluent-option *ngFor="let item of list" [actived]="item.id === currentGist?.id" (click)="onGistClick(item)">
    {{ getGistName(item) }}
  </fluent-option>
</fluent-listbox>
<fluent-listbox *mobxAutorun class="list">
  <ng-container *ngIf="currentGist !== null">
    <fluent-option *ngFor="let file of currentGist.files" [actived]="file === currentFile" (click)="onFileClick(file)">
      {{ file.name }}
    </fluent-option>
  </ng-container>
</fluent-listbox>
<div *mobxAutorun class="actions">
  <fluent-button appearance="accent" (click)="openEmpty()">Create Empty</fluent-button>
  <fluent-button appearance="accent" (click)="open()">Open Selected File</fluent-button>
  <fluent-button appearance="accent" (click)="join()">Join</fluent-button>
  <div *mobxAutorun>
    <fluent-text-field [value]="alias" (input)="onAliasChange($event.target.value)">Alias:</fluent-text-field>
  </div>
  <div *mobxAutorun>
    <fluent-text-field [value]="filename" (input)="filename = $event.target.value">Filename:</fluent-text-field>
  </div>
  <div *mobxAutorun>
    <app-language-select [(value)]="language"></app-language-select>
  </div>
  <div *mobxAutorun>
    <fluent-checkbox [checked]="targetCurrentGist" (change)="onIsCurrentGistChange($event)">
      Current Gist
    </fluent-checkbox>
  </div>
  <div *mobxAutorun>
    <app-select
      *ngIf="!targetCurrentGist"
      class="select"
      [options]="targetGistList"
      [(value)]="targetGistId"
    ></app-select>
  </div>
</div>
