<fluent-listbox *mobxAutorun class="list">
  <fluent-option *ngFor="let item of list" class="item" [class.active]="item.id === currentGist?.id" (click)="onGistClick(item)">
    {{ item.name }}
  </fluent-option>
</fluent-listbox>
<fluent-listbox *mobxAutorun class="list">
  <ng-container *ngIf="currentGist !== null">
    <fluent-option *ngFor="let file of currentGist.files" class="item" [class.active]="file === currentFile">
      {{ file.filename }}
    </fluent-option>
  </ng-container>
</fluent-listbox>
<div *mobxAutorun class="actions">
  <fluent-button appearance="accent" (click)="open()">Create Empty</fluent-button>
  <fluent-button appearance="accent">Open Selected File</fluent-button>
  <fluent-button appearance="accent">Create New One From Selected File</fluent-button>
  <fluent-button appearance="accent" (click)="join()">Join</fluent-button>
  <div *mobxAutorun class="target">
    <div class="title">
      <label>Alias:</label>
      <fluent-text-field [(value)]="alias"></fluent-text-field>
    </div>
    <div class="title">
      <label>Target Gist:</label>
      <fluent-checkbox class="checkbox" [checked]="targetCurrentGist" (change)="onIsCurrentGistChange($event)">Current Gist</fluent-checkbox>
    </div>
    <app-select
      *ngIf="!targetCurrentGist"
      class="select"
      [options]="targetGistList"
      [(value)]="targetGistId"
    ></app-select>
  </div>
</div>
