@import '~@angular/cdk/overlay-prebuilt.css';
@import '~xterm/css/xterm.css';

body {
  margin: 0;
  overflow: hidden;
  font-family: Segoe WPC, Segoe UI, sans-serif;
}

app-root {
  width: 100vw;
  height: 100vh;
}
